// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// values unique to wink theme
$white: #fff;
$gray-100: #FAF9F8;
$gray-200: #EDEBE9;
$gray-300: #D2D0CE;
$gray-400: #BEBBB8;
$gray-500: #A19F9D;
$gray-600: #8A8886;
$gray-700: #605E5C;
$gray-800: #323130;
$gray-900: #1B1A19;
$black: #000;
$blue: rgb(0, 120, 212);
$indigo: #881798;
$purple: #5c2e91;
$pink: #e3008c;
$red: rgb(209, 52, 56);
$orange: #ffaa44;
$yellow: #fce100;
$green: #3FB618;
$teal: #20c997;
$cyan: #9954BB;
$primary: $blue;
$secondary: $gray-800;
$success: $green;
$info: $cyan;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$navbar-dark-hover-color: rgba($white,1);
$breadcrumb-divider: quote(">");
$enable-rounded: false;
$border-radius-base: 0;
$body-bg: $gray-100;
$breadcrumb-divider-color: $gray-800;
$breadcrumb-active-color: $gray-800;
$font-family-sans-serif: "Segoe UI", "Segoe UI Web (West European)", "Selawk", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
$body-color: $gray-800;
$navbar-light-toggler-border-color: rgba($black, .3);
$border-color: $gray-500;
$card-border-color: $gray-500;
$pagination-border-color: $gray-400;
$list-group-border-color: $gray-400;
$link-hover-color: darken($blue, 20%);
$breadcrumb-padding-y: 0.25rem;
$breadcrumb-item-padding: 0.5rem;

$color-mode-type: data;

@include color-mode(light) {
  body {
    background-color: var(--bs-gray-100);
  }

  header.navbar-main,
  .sidebar {
    background-color: var(--bs-white);
  }

  .title.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-500) !important;
  }

  .navbar-toggler:hover {
    background-color: var(--bs-gray-200);
  }
}

@include color-mode(dark) {
  body {
    color: var(--bs-gray-100);
    background-color: var(--bs-gray-800);
  }

  header.navbar-main {
    background-color: var(--bs-gray-900);
  }
  .sidebar {
    background-color: var(--bs-gray-900);
  }

  .title.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-600) !important;
  }

  .text-muted {
    color: var(--bs-gray-500) !important;
  }

  .card {
    border: var(--bs-card-border-width) solid var(--bs-gray-600);
  }

  .card-header {
    color: var(--bs-gray-100);
    background-color: var(--bs-gray-900);
    border-bottom: var(--bs-card-border-width) solid var(--bs-gray-600);
  }

  .card-body {
    color: var(--bs-gray-100);
    background-color: var(--bs-gray-900);
  }

  .navbar-toggler:hover {
    background-color: var(--bs-gray-800);
  }

  .table {
    --bs-table-color: var(--bs-white);
    --bs-table-striped-color: var(--bs-white);
    --bs-table-active-color: var(--bs-white);
    --bs-table-hover-color: var(--bs-white);
  }
}

// Required
/*
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
*/

//
// Custom styles
//

@import "icon-list";

/*
body {
  padding: 1.5rem;
}
*/

table th a[sort="asc"]:after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f0d8";
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
table th a[sort="desc"]:after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f0d7";
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: underline;
}

.sidebar nav {
  width: 100%;
}
.sidebar nav .dropdown.nav-item:has(.dropdown-menu.show) {
  font-weight: 700;
}
.sidebar nav .dropdown-menu.show {
  border: 0 solid transparent;
  display: block;
  position: relative !important;
  transform: none !important;
  width: 100%;
}
.sidebar nav .dropdown-menu.show a.dropdown-item {
  display: block;
  padding-left: 2rem;
  width: 100%;
}

.icon-link {
  display: block;
}
@include media-breakpoint-down(lg) {
  .icon-link {
    display: inline-flex;
  }
}
@include media-breakpoint-down(sm) {
  .icon-link {
    display: block;
  }
}

.scroll-top {
  position: fixed;
  height: 3.5rem;
  width: 3.5rem;
  bottom: 3.5rem;
  right: 1.5rem;
  z-index: 99;
  outline: none;
  color: #ffffff;
  background-color: rgba(0, 120, 212,.55);
  border: 0px solid transparent;
  cursor: pointer;
  padding: .65rem 0;
  border-radius: .2rem;
  margin: 0 auto;
}
.scroll-top:focus,
.scroll-top:hover {
  background-color: rgba(0, 120, 212,.85);
}

.is-visible {
  display: block;
}
.is-hidden {
  display: none;
}

.bd-mode-toggle {
  position: fixed;
  height: 2rem;
  width: 3.5rem;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 98;
  outline: none;
  margin: 0 auto;
}
.bd-mode-toggle .btn {
  width: 100%;
  color: rgba(0, 120, 212, 1);
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  border-radius: .2rem;
}
.bd-mode-toggle .btn:hover {
  color: #ffffff;
  background-color: rgba(0, 120, 212,.85);
}
.bd-mode-toggle button.dropdown-toggle svg use {
  fill: rgba(0, 120, 212, 1);
}
.bd-mode-toggle button.dropdown-toggle:hover svg use {
  fill: #ffffff;
}
.bd-mode-toggle button.dropdown-item svg use {
  fill: #323130;
}
@include color-mode(dark) {
  .bd-mode-toggle button.dropdown-item svg use {
    fill: #ffffff;
  }
}

#navbar-main {
  height: 5rem;
}
#navbar-logo-area {
  height: 5rem;
  display: block;
  background-color: transparent;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center, 50%, 50%;
}
@include media-breakpoint-down(md) {
  #navbar-main,
  #navbar-logo-area {
    height: 4rem;
  }
}
@include media-breakpoint-down(sm) {
  #navbar-main {
    height: 8rem;
  }
  #navbar-logo-area {
    height: 4rem;
    background-size: contain;
  }
}

#navbar-site-name {
  font-family: Abel, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

#accent-logo {
  height: 6rem;
  display: block;
  background-color: transparent;
  background-image: url("../img/logo2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center, 50%, 50%;
}

@include color-mode(dark) {
  #navbar-logo-area {
    background-image: url("../img/logo-dark.svg");
  }
  #accent-logo {
    background-image: url("../img/logo2-dark.svg");
  }
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/xmark.svg");
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("../img/hamburger.svg");
}

.bg-warning {
  --bs-bg-opacity: .5;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}